{% extends 'base.html' %}

{% block content %}
    <header class="header">
        <h1 class="header-title">Результаты поиска</h1>
    </header>

    <main class="main">
        <section class="results-section">

            {% for offer in offers %}
                <div class="result-card">
                    <h2 class="result-card__title">{{ offer.price }}</h2>
                    <p class="result-card__description">{{ offer.rooms }} комнаты, {{ offer.area }}
                        кв.м., {{ offer.price }} zł</p>
                    <p class="result-card__location">Район: {{ offer.district }}</p>
                    <a href="{{ offer.link }}" class="result-card__button">Подробнее</a>
                </div>
            {% endfor %}

            <!-- Повторяйте блок с карточкой для каждого объявления -->
        </section>
    </main>

{% endblock %}