{% extends 'base.html' %}

{% block content %}

    <section class="welcome-section">
        <div class="welcome-section__content">
            <h1 class="welcome-section__title">Welcome to the world of real estate!</h1>
            <p class="welcome-section__message">Find your perfect home with us. We offer individual search
                for apartments, houses, and commercial real estate across the country. Let us help you find a place,
                that you will call your home.</p>
            <a href="{% url 'analyzer-form' %}" class="welcome-section__start-button">Start search</a>
        </div>
    </section>

{% endblock %}
