{% extends 'base.html' %}

{% block content %}

    <section class="welcome-section">
        <div class="welcome-section__content">
            <h1 class="welcome-section__title">Добро пожаловать в мир недвижимости!</h1>
            <p class="welcome-section__message">Найдите свой идеальный дом с нами. Мы предлагаем широкий выбор
                квартир, домов и коммерческой недвижимости по всей стране. Позвольте нам помочь вам найти место,
                которое вы будете называть своим домом.</p>
            <a href="{% url 'analyzer-form' %}" class="welcome-section__start-button">Начать поиск</a>
        </div>
    </section>

{% endblock %}