{% extends 'base.html' %}

{% block content %}
    <header class="header">
        <h1 class="header-title">Best Offers</h1>
        <p class="header-subtitle">The most profitable offers, specially selected for you</p>
    </header>

    <main class="main">
        <section class="results-section">

            {% for offer in offers %}
                <div class="result-card">
                    <h2 class="result-card__title">{{ offer.price }} zł</h2>
                    <p class="result-card__description">{{ offer.rooms }} rooms, {{ offer.area }} sq.m.</p>
                    <p class="result-card__details">Floor: {{ offer.floor }}, Year of construction: {{ offer.year }}</p>
                    <p class="result-card__location">District: {{ offer.district }}</p>
                    <a href="{{ offer.link }}" class="result-card__button">More details</a>
                    {% if request.user.is_authenticated %}
                        {% if offer.article_id in saved_offers %}
                            <a href="{% url 'remove-offer' offer.article_id %}" class="saved-icon"><i
                                    class="fa-regular fa-bookmark"></i></a>
                        {% else %}
                            <a href="{% url 'save-offer' offer.article_id %}" class="save-icon"><i
                                    class="fa-regular fa-bookmark"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}" class="save-icon"><i class="fa-regular fa-bookmark"></i></a>
                    {% endif %}
                </div>
            {% endfor %}


        </section>
    </main>



{% endblock %}

