{% extends 'base.html' %}

{% block content %}
    <header class="header">
        <h1 class="header-title">User Profile {{ user.username }}</h1>
    </header>

    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <h1 class="profile-title"> </h1>
                <button class="btn btn-primary edit-button">Edit</button>
            </div>
            <div class="profile-content">
                <div class="saved section">
                    <h2 class="section-title">Favorite Offers</h2>
                    <!-- Here will be displayed favorite offers -->
                    {% for offer in saved_offers %}
                        <div class="saved-card">
                            <h2 class="saved-card__title">{{ offer.price }}</h2>
                            <p class="saved-card__description">{{ offer.rooms }} rooms, {{ offer.area }} sq.m.</p>
                            <p class="saved-card__details">Floor: {{ offer.floor }}</p>
                            <p class="saved-card__location">District: {{ offer.district }}</p>
                            <a href="{{ offer.link }}" class="saved-card__button">More details</a>
                            {% if request.user == user %}
                                {% if offer.article_id in articles_id %}
                                    <a href="{% url 'remove-offer' offer.article_id %}" class="saved-icon"><i
                                            class="fa-regular fa-bookmark"></i></a>
                                {% else %}
                                    <a href="{% url 'save-offer' offer.article_id %}" class="save-icon"><i
                                            class="fa-regular fa-bookmark"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="history section">
                    <h2 class="section-title">Search and Viewing History</h2>
                    <form id="filter-form" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sort">Sorting:</label>
                                <select id="sort" class="form-control" name="sort_value">
                                    {% for sort, map in sort_mapping.items %}
                                        <option value="{{ sort }}" {% if sort == sort_value %}
                                                selected {% endif %}>{{ map.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="method">Method:</label>
                                <select id="method" class="form-control" name="method_value">
                                    <option value="">-----</option>
                                    {% for method in methods %}
                                        <option value="{{ method }}" {% if method == method_value %}
                                                selected {% endif %}>{{ method }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="site">Site:</label>
                                <select id="site" class="form-control" name="site_value">
                                    <option value="">-----</option>
                                    {% for site in sites %}
                                        <option value="{{ site }}" {% if site == site_value %}
                                                selected {% endif %}>{{ site }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </form>

                    <div class="row">
                        <!-- Здесь будут отображаться история поиска и просмотров -->
                        {% for request in requests %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <details>
                                            <summary>This request was made {{ request.created|timesince }} ago</summary>
                                            <div class="details-content">
                                                <p class="request-card__settings">Analyzed site: {{ request.site }}</p>
                                                <p> Analysis method: {{ request.method }}</p>
                                                <p class="request-card__title">Request id: {{ request.request_id }}</p>
                                                <a href="{% url 'analysis' request.request_id %}"
                                                   class="request-card__button">More
                                                    details</a>
                                            </div>
                                        </details>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

