{% extends 'base.html' %}

{% block content %}
    <header class="header">
        <h1 class="header-title">User Profile {{ user.username }}</h1>
    </header>

    {#    <main class="main">#}
    {#        <section class="requests-section">#}
    {##}
    {#            {% for request in requests %}#}
    {#                <div class="request-card">#}
    {#                    <h2 class="request-card__title">{{ request.request_id }}</h2>#}
    {#                    <p class="request-card__time">Request date: {{ request.created }}</p>#}
    {#                    <p class="request-card__settings">Analyzed site: {{ request.site }}, Analysis method: {{ request.method }}</p>#}
    {#                    <a href="{% url 'analysis' request.request_id %}" class="request-card__button">More details</a>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {##}
    {#            <!-- Repeat the card block for each request -->#}
    {#        </section>#}
    {#    </main>#}

    {#    <div class="profile">#}
    {#        <div class="profile-header">#}
    {#            <h1 class="profile-title">Профиль пользователя</h1>#}
    {#            <button class="edit-button">Редактировать</button>#}
    {#        </div>#}
    {#        <div class="profile-content">#}
    {#            <div class="favorites">#}
    {#                <h2 class="section-title">Избранные предложения</h2>#}
    {#                <ul class="favorite-list">#}
    {#                    <!-- Здесь будут отображаться избранные предложения -->#}
    {#                    {% for favorite in favorites %}#}
    {#                        <li class="favorite-item">{{ favorite }}</li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#            </div>#}
    {#            <div class="history">#}
    {#                <h2 class="section-title">История поиска и просмотров</h2>#}
    {#                <ul class="history-list">#}
    {#                    <!-- Здесь будут отображаться история поиска и просмотров -->#}
    {#                    {% for request in requests %}#}
    {#                        <li class="history-item">#}
    {#                            <details>#}
    {#                                <summary>Request date: {{ request.created }}</summary>#}
    {#                                <div class="details-content">#}
    {#                                    <p>{{ request.details }}</p>#}
    {#                                    <!-- Дополнительная информация о запросе здесь -->#}
    {#                                </div>#}
    {#                            </details>#}
    {#                        </li>#}
    {#                    {% endfor %}#}
    {#                                            {% for request in requests %}#}
    {#                                                <div class="request-card">#}
    {#                                                    <h2 class="request-card__title">{{ request.request_id }}</h2>#}
    {#                                                    <p class="request-card__time">Request date: {{ request.created }}</p>#}
    {#                                                    <p class="request-card__settings">Analyzed site: {{ request.site }}, Analysis#}
    {#                                                        method: {{ request.method }}</p>#}
    {#                                                    <a href="{% url 'analysis' request.request_id %}" class="request-card__button">More#}
    {#                                                        details</a>#}
    {#                                                </div>#}
    {#                                            {% endfor %}#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <h1 class="profile-title">Профиль пользователя</h1>
                <button class="btn btn-primary edit-button">Редактировать</button>
            </div>
            <div class="profile-content">
                <div class="favorites section">
                    <h2 class="section-title">Избранные предложения</h2>
                    <ul class="favorite-list list-group">
                        <!-- Здесь будут отображаться избранные предложения -->
                        {% for favorite in favorites %}
                            <li class="favorite-item list-group-item">{{ favorite }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="history section">
                    <h2 class="section-title">История поиска и просмотров</h2>
                    <form id="filter-form" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sort">Sorting:</label>
                                <select id="sort" class="form-control" name="sort_value">
                                    {% for sort, map in sort_mapping.items %}
                                        <option value="{{ sort }}" {% if sort == sort_value %} selected {% endif %}>{{ map.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="method">Method:</label>
                                <select id="method" class="form-control" name="method_value">
                                    <option value="">-----</option>
                                    {% for method in methods %}
                                    <option value="{{ method }}" {% if method == method_value %} selected {% endif %}>{{ method }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="site">Site:</label>
                                <select id="method" class="form-control" name="site_value">
                                    <option value="">-----</option>
                                    {% for site in sites %}
                                    <option value="{{ site }}" {% if site == site_value %} selected {% endif %}>{{ site }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Применить</button>
                    </form>
                    <div class="row">
                        <!-- Здесь будут отображаться история поиска и просмотров -->
                        {% for request in requests %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <details>
                                            <summary>This request was made {{ request.created|timesince }} ago</summary>
                                            <div class="details-content">
                                                <p class="request-card__settings">Analyzed site: {{ request.site }}</p>
                                                <p> Analysis method: {{ request.method }}</p>
                                                <p class="request-card__title">Request id: {{ request.request_id }}</p>
                                                <a href="{% url 'analysis' request.request_id %}"
                                                   class="request-card__button">More
                                                    details</a>
                                            </div>
                                        </details>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

