/* Общие стили */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #252525;
    margin: 0;
    padding: 0;
}

/* Navbar */

/* Login register */
.login__register-section {
    color: #fff;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    background-color: #2c2b2b;
    padding: 30px;
}

/* Home page */
.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.welcome-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}


.welcome-section__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-section__message {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.welcome-section__image {
    max-width: 100%;
    border-radius: 10px;
}

.welcome-section__start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f43;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcome-section__start-button:hover {
    color: #fff;
    background-color: #f63;
}


/* Страница с выбором сайтов */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: #e7e7e7;
    margin-top: 120px;
}

.analysis-form {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*max-width: 600px;*/
    min-width: 600px;
    min-height: 500px;
    width: 100%;
    background-color: #2c2b2b;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.sites-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.site-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    color: rgba(255, 255, 255, .5);
}

.site-card.selected {
    background-color: #2c3e50; /* Голубой цвет */
    color: #fff; /* Белый цвет для текста */
}

.site-card:hover {
    background-color: #2c3e50;
}

.site-radio {
    display: none;
}

.site-label {
    cursor: pointer;
}

.site-card__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
}

.analysis-options-section {
    margin-top: 20px;
    color: rgba(255, 255, 255, .5);
}

.analysis-label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 20px;
    /*cursor: pointer;*/
    transition: background-color 0.3s ease;
}

.analysis-label:hover {
    color: #fff;
    background-color: #2c3e50;
}

.analysis-radio {
    display: none;
}

.analysis-radio:checked + .analysis-label {
    background-color: #2c3e50; /* синий цвет */
    color: #fff;
}

.results-options-section {
    margin-top: 20px;
}

.offers-amount__label {
    display: block;
    margin-bottom: 10px;
    align-items: center;
}

.offers-amount {
    width: 100%;
}

.offers-amount__value {
    display: block;

}

.start-search-button {
    background-color: #f43;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.start-search-button:hover {
    background-color: #f63;
}

.start-search-button.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.slide-button {
    font-size: 2em;
    background: none;
    border: none;
    color: #fff;
}

.slide-button:hover {
    transition: all 0.2s ease;
    color: #f63;
}

.buttons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* analysis section */


.main {
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header-title {
    font-size: 2.5em;
    color: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 20px;
}

.header-subtitle {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 20px;
}

.results-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.result-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ccc;
    transition: transform 0.3s ease;
    background-color: #333;
}

.result-card:hover {
    transform: scale(1.02);
}

.result-card__title {
    margin-top: 0;
    color: #f43;
}

.result-card__description,
.result-card__details {
    margin-bottom: 10px;
}

.result-card__button {
    background-color: #f43;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.result-card__button:hover {
    background-color: #f63;
}

@media screen and (max-width: 768px) {
    .results-section {
        grid-template-columns: 1fr;
    }
}


/* AI analysis section  */

.container.ai {
    background-color: #343a40;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.container.ai:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
}

.ai__title {
    text-align: center;
    margin-bottom: 40px;
    animation: fadeIn 2s;
}

.ai__output {
    padding: 20px;
    border-radius: 15px;
    min-height: 200px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Profile section */

.header-title {
    font-size: 2.5em;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 20px;
}

.requests-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.request-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ccc;
    transition: transform 0.3s ease;
    background-color: #333;
}

.request-card:hover {
    transform: scale(1.02);
}

.request-card__title {
    margin-top: 0;
    color: #f43;
}

.request-card__time,
.request-card__settings {
    margin-bottom: 10px;
}

.request-card__button {
    background-color: #f43;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.request-card__button:hover {
    background-color: #f63;
}

@media screen and (max-width: 768px) {
    .requests-section {
        grid-template-columns: 1fr;
    }
}

